@font-face {
  font-family: 'Myraid Pro';
  src: url("../fonts/MyraidPro/MyriadPro-Light.eot") format("embedded-opentype"), url("../fonts/MyraidPro/MyriadPro-Light.woff") format("woff"), url("../fonts/MyraidPro/MyriadPro-Light.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url("../fonts/Gotham/GothamMedium.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham Book';
  src: url("../fonts/Gotham/GothamBook.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

input {
  outline: none;
}

input:hover,
input:focus,
input:active {
  outline: none;
}

textarea {
  outline: none;
}

textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

.container {
  *zoom: 1;
}

.container:after {
  content: '';
  display: table;
  line-height: 0;
  clear: both;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 766px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__navigation {
  margin-top: 50px;
  width: -webkit-calc(100% - 79px);
  width: calc(100% - 79px);
  padding-left: 223px;
}

@media (max-width: 475px) {
  .header__navigation {
    padding-left: 0;
    width: 100%;
    position: relative;
  }
}

.header__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media (max-width: 475px) {
  .header__menu {
    display: none;
    background-color: white;
  }
}

@media (max-width: 475px) {
  .header__menu li {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
  }
}

.header__menu li a {
  color: white;
  font-family: "Myraid Pro";
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 475px) {
  .header__menu li a {
    color: #23527c;
  }
}

.header__menu li a:hover {
  padding-bottom: 35px;
  border-bottom: 5px solid #11749e;
}

.active {
  padding-bottom: 35px;
  border-bottom: 5px solid #11749e;
}

@media (max-width: 475px) {
  .active {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
}

@media (max-width: 475px) {
  .header {
    border-bottom: none;
  }
}

.header__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 475px) {
  .header__wrapper {
    display: block;
  }
}

.header__logo {
  margin-top: 20px;
  width: 79px;
  height: 75px;
  overflow: hidden;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 10%;
  margin-top: 50px;
}

.header__socials-elem {
  height: 20px;
  width: 18px;
  overflow: hidden;
}

@media (max-width: 475px) {
  .header__socials-elem {
    display: none;
  }
}

.header__socials-elem img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__trigger {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 40px;
  right: 30px;
  background-color: #f3f3f3;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.4);
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.4);
  z-index: 15;
  cursor: pointer;
}

@media (max-width: 480px) {
  .header__trigger {
    display: block;
  }
}

.header__trigger span {
  display: block;
  height: 2px;
  width: 18px;
  background-color: #000;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
}

.header__trigger span:first-of-type {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: -6px;
  content: '';
}

.header__trigger span:last-of-type {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 4px;
  content: '';
}

.header__trigger.js-trigger-active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fe4e3a), color-stop(50%, #f6373d), to(#ff5c34));
  background-image: -webkit-linear-gradient(bottom, #fe4e3a 0%, #f6373d 50%, #ff5c34 100%);
  background-image: -o-linear-gradient(bottom, #fe4e3a 0%, #f6373d 50%, #ff5c34 100%);
  background-image: linear-gradient(to top, #fe4e3a 0%, #f6373d 50%, #ff5c34 100%);
}

.header__trigger.js-trigger-active span:nth-of-type(2) {
  display: none;
}

.header__trigger.js-trigger-active span {
  background-color: #fff;
}

.header__trigger.js-trigger-active span:first-of-type {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: 0;
}

.header__trigger.js-trigger-active span:last-of-type {
  -webkit-transform: rotate(-134deg);
  -ms-transform: rotate(-134deg);
  transform: rotate(-134deg);
  margin-top: 0;
}

.baner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../img/baner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.baner__title {
  width: 100%;
  text-align: center;
  margin-top: 380px;
  color: whitesmoke;
  font-family: "Gotham Medium";
  font-size: 153px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .baner__title {
    font-size: 115px;
  }
}

@media (max-width: 475px) {
  .baner__title {
    font-size: 50px;
  }
}

.baner__sub-title {
  width: 100%;
  text-align: center;
  margin-top: -20px;
  color: #11749e;
  font-family: "Gotham Medium";
  font-size: 25px;
  font-weight: 500;
  line-height: 51px;
  text-transform: uppercase;
  letter-spacing: 21px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .baner__sub-title {
    margin-left: 0;
  }
}

@media (max-width: 475px) {
  .baner__sub-title {
    font-size: 12px;
    letter-spacing: 4px;
  }
}

.baner__scroll {
  position: relative;
  width: 100%;
}

.baner__scroll-descr {
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 115px;
}

.baner__scroll-elem {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 40px;
  left: 47%;
  background-image: url("../img/scroll.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 475px) {
  .baner__scroll-elem {
    left: 40%;
  }
}

.agency {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #11749e;
  padding-bottom: 130px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.agency__double-elem {
  position: absolute;
  width: 185px;
  height: 176px;
  top: 111px;
  left: 42%;
  background-image: url("../img/double.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 475px) {
  .agency__double-elem {
    left: 25%;
    top: 60px;
  }
}

.agency__title {
  width: 100%;
  text-align: center;
  margin-top: 170px;
  font-family: "Gotham Medium";
  font-size: 38px;
  font-weight: 500;
  line-height: 45px;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 475px) {
  .agency__title {
    margin-top: 75px;
  }
}

.agency__box {
  width: 100%;
  margin-top: 130px;
}

@media (max-width: 475px) {
  .agency__box {
    margin-top: 90px;
  }
}

.agency__elem {
  position: relative;
}

.agency__elem-img {
  margin: 0 auto;
  width: 133px;
  height: 133px;
  overflow: hidden;
}

.agency__elem-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.agency__elem-title {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  color: white;
  font-family: "Gotham Medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
}

.agency__elem-descr {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: white;
  font-family: "Myraid Pro";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.about {
  position: relative;
  float: left;
  width: 100%;
}

.about__block-bg {
  background-color: #222;
  height: 488px;
}

.about__block-bg--mod {
  background-color: #f3f3f3;
}

.about__block {
  position: relative;
  float: left;
  width: 50%;
  padding-right: 120px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.about__block--mod {
  left: 60%;
  width: 40%;
  padding-right: 0;
}

@media (max-width: 768px) {
  .about__block--mod {
    left: 55%;
  }
}

@media (max-width: 475px) {
  .about__block--mod {
    left: 0;
  }
}

@media (max-width: 475px) {
  .about__block {
    width: 100%;
    padding-right: 0;
  }
}

.about__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 38%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 80px;
}

@media (max-width: 1024px) {
  .about__comment {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .about__comment {
    width: 60%;
  }
}

@media (max-width: 475px) {
  .about__comment {
    width: 50%;
  }
}

.about__date {
  position: relative;
  color: white;
  font-family: "Gotham Book";
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 0;
}

.about__date--mod {
  color: #222222;
}

.about__date--mod:after {
  position: absolute;
  top: 2px;
  right: -21px;
  content: "";
  display: inline;
  width: 1px;
  height: 18px;
  background-color: #222222 !important;
}

.about__date:before {
  position: absolute;
  top: 2px;
  right: -20px;
  content: "";
  display: inline;
  width: 1px;
  height: 18px;
  background-color: white;
}

@media (max-width: 768px) {
  .about__date:before {
    right: -9px;
  }
}

.about__place {
  color: white;
  font-family: "Gotham Book";
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 0;
}

.about__place--mod {
  color: #222222;
}

.about__title {
  color: white;
  font-family: "Gotham Medium";
  font-size: 25px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 35px;
}

.about__title--mod {
  color: #222222;
}

.about__descr {
  color: white;
  font-family: "Myraid Pro";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}

.about__descr--mod {
  color: #222222;
}

.about__sub-descr {
  color: white;
  font-family: "Myraid Pro";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.about__sub-descr--mod {
  color: #222222;
}

.about__img {
  position: relative;
  float: left;
  width: 50%;
}

@media (max-width: 475px) {
  .about__img {
    width: 100%;
  }
}

.about__bg {
  width: 100%;
  height: 488px;
  left: 100%;
  top: -377px;
  position: absolute;
  background-image: url("../img/about-img1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1920px) {
  .about__bg {
    top: -382px;
  }
}

@media (max-width: 768px) {
  .about__bg {
    top: -477px;
  }
}

@media (max-width: 475px) {
  .about__bg {
    position: relative;
    left: 0;
    top: 0;
  }
}

.about__new-bg {
  width: 100%;
  height: 488px;
  left: 0;
  top: 0;
  position: absolute;
  background-image: url("../img/about-img2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 475px) {
  .about__new-bg {
    position: relative;
  }
}

.blog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 110px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.blog__elem-b {
  position: absolute;
  width: 116px;
  height: 176px;
  top: 102px;
  left: 45%;
  background-image: url("../img/simple-b.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 475px) {
  .blog__elem-b {
    left: 35%;
  }
}

.blog__title {
  width: 100%;
  text-align: center;
  margin-top: 165px;
  color: #222;
  font-family: "Gotham Medium";
  font-size: 38px;
  font-weight: 500;
  line-height: 45px;
  text-transform: uppercase;
}

.blog__descr {
  width: 100%;
  text-align: center;
  margin-top: 115px;
  color: #222;
  font-family: "Gotham Book";
  font-size: 30px;
  font-weight: 300;
  line-height: 37px;
  margin-bottom: 75px;
}

.blog__box {
  width: 100%;
}

.blog__elem {
  position: relative;
}

.blog__elem-img {
  width: 265px;
  height: 265px;
  overflow: hidden;
  margin: 0 auto;
}

.blog__elem-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.blog__elem-title {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  color: #11749e;
  font-family: "Gotham Medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
}

.blog__elem-descr {
  width: 100%;
  text-align: center;
  color: #222;
  font-family: "Gotham Book";
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 15px;
}

.padding {
  padding: 0 10px;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #11749e;
  padding-bottom: 145px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.action__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 115px;
}

.action__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 48%;
}

@media (max-width: 475px) {
  .action__elem {
    width: 100%;
    margin-bottom: 30px;
  }
}

.action__elem-img {
  width: 69px;
  height: 69px;
  overflow: hidden;
}

.action__elem-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.action__elem-descr {
  width: -webkit-calc(100% - 105px);
  width: calc(100% - 105px);
  color: white;
  font-family: "Gotham Book";
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

.tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../img/tech.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tech__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.tech__descr-block {
  width: 50%;
  padding-right: 120px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 475px) {
  .tech__descr-block {
    width: 100%;
  }
}

.tech__title {
  margin-top: 230px;
  color: white;
  font-family: "Gotham Medium";
  font-size: 25px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
}

@media (max-width: 475px) {
  .tech__title {
    margin-top: 30px;
  }
}

.tech__descr {
  margin-top: 40px;
  margin-bottom: 60px;
  color: white;
  font-family: "Gotham Book";
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

.tech__elem-blue {
  width: 100%;
  background-color: #11749e;
  color: white;
  font-family: "Gotham Medium";
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  padding: 11px 30px 13px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .tech__elem-blue {
    font-size: 10px;
  }
}

.tech__elem-blue--first-width {
  width: 80%;
}

.tech__elem-blue--second-width {
  width: 90%;
}

.tech__img-block {
  width: 50%;
  margin-top: 100px;
}

@media (max-width: 475px) {
  .tech__img-block {
    width: 100%;
  }
}

.tech__img {
  width: 390px;
  height: 651px;
  overflow: hidden;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .tech__img {
    width: 370px;
  }
}

@media (max-width: 475px) {
  .tech__img {
    width: 340px;
  }
}

.tech__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 130px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.team__elem-t {
  position: absolute;
  top: 65px;
  left: 45%;
  width: 117px;
  height: 176px;
  background-image: url("../img/simple-t.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 475px) {
  .team__elem-t {
    left: 33%;
  }
}

.team__title {
  width: 100%;
  text-align: center;
  margin-top: 135px;
  color: #222;
  font-family: "Gotham Medium";
  font-size: 38px;
  font-weight: 500;
  line-height: 45px;
  text-transform: uppercase;
}

.team__descr {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  color: #222;
  font-family: "Gotham Book";
  font-size: 30px;
  font-weight: 300;
  line-height: 37px;
}

.team__box {
  width: 100%;
  margin-top: 75px;
}

.team__elem {
  position: relative;
  width: 100%;
}

.team__elem-img {
  width: 270px;
  height: 410px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .team__elem-img {
    margin: 0 auto;
  }
}

.team__elem-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.team__elem-wrap {
  position: absolute;
  bottom: -45px;
  left: 12%;
  padding: 20px 40px 0 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
}

@media (max-width: 1024px) {
  .team__elem-wrap {
    left: 26%;
  }
}

@media (max-width: 475px) {
  .team__elem-wrap {
    left: 18%;
  }
}

.team__elem-wrap--title {
  width: 100%;
  text-align: center;
  color: #11749e;
  font-family: "Gotham Medium";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  margin-top: 0;
}

.team__elem-wrap--post {
  width: 100%;
  text-align: center;
  color: black;
  font-family: "Gotham Medium";
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 0;
}

@media (max-width: 1024px) {
  .adaptive {
    width: 50%;
    margin-bottom: 70px;
  }
}

@media (max-width: 475px) {
  .adaptive {
    width: 100%;
  }
}

.callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../img/callback-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.callback__elem-c {
  position: absolute;
  width: 120px;
  height: 182px;
  top: 145px;
  left: 45%;
  background-image: url("../img/simple-c.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 475px) {
  .callback__elem-c {
    left: 32%;
  }
}

.callback__title {
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Gotham Medium";
  font-size: 37px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 225px;
}

@media (max-width: 768px) {
  .callback__title {
    font-size: 24px;
  }
}

.callback__main-form {
  position: relative;
  width: 100%;
  margin-top: 150px;
}

.callback__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media (max-width: 475px) {
  .callback__box {
    margin-bottom: 0;
  }
}

.callback__input {
  color: white;
  width: 32%;
  background-color: transparent;
  border: 1px solid white;
  padding: 15px 20px 15px 20px;
}

@media (max-width: 475px) {
  .callback__input {
    width: 100%;
    margin-bottom: 30px;
  }
}

.callback__textarea {
  color: white;
  width: 100%;
  height: 150px;
  resize: none;
  background-color: transparent;
  border: 1px solid white;
  padding-top: 15px;
  padding-left: 20px;
}

.callback__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
}

.callback__submit {
  border: none;
  background-color: #11749e;
  color: white;
  font-family: "Gotham Medium";
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  padding: 18px 60px 25px 60px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #222;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 45px;
}

.footer__copyrigth {
  color: white;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  line-height: 36px;
}

.footer__design {
  color: white;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  line-height: 36px;
}

.footer__img {
  position: relative;
  top: -5px;
}

/*# sourceMappingURL=styles.css.map */
