section.about
    .about__block-bg
        .container
                .about__block
                    .about__comment.opacity.left-animate
                        p.about__date
                            | Jan 4, 2016

                        p.about__place
                            | In Culture

                    h3.about__title.opacity.left-animate
                        | Akita Inu Dog

                    p.about__descr.opacity.left-animate
                        | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis
                        | lacus vel augue laoreet rutrum faucibus dolor auctor.

                    p.about__sub-descr.opacity.left-animate
                        | Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet,
                        | consectetur adipiscing elit. Sed posuere consectetur

        .about__img
            .about__bg

    .about__block-bg.about__block-bg--mod
        .about__img
            .about__new-bg

        .container
            .about__block.about__block--mod
                .about__comment.opacity.right-animate
                    p.about__date.about__date--mod
                        | Jan 4, 2016

                    p.about__place.about__place--mod
                        | In Culture

                h3.about__title.about__title--mod.opacity.right-animate
                    | Akita Inu Dog

                p.about__descr.about__descr--mod.opacity.right-animate
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis
                    | lacus vel augue laoreet rutrum faucibus dolor auctor.

                p.about__sub-descr.about__sub-descr--mod.opacity.right-animate
                    | Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet,
                    | consectetur adipiscing elit. Sed posuere consectetur

