section.about
    .about__block-bg
        .container
                .about__block
                    .about__comment
                        p.about__date
                            | Jan 4, 2016

                        p.about__place
                            | In Culture

                    h3.about__title
                        | Akita Inu Dog

                    p.about__descr
                        | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis
                        | lacus vel augue laoreet rutrum faucibus dolor auctor.

                    p.about__sub-descr
                        | Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet,
                        | consectetur adipiscing elit. Sed posuere consectetur

        .about__img
            .about__bg