section.action
    .container
        .action__box
            .action__elem
                .action__elem-img
                    img(src="img/action-img.png")

                .action__elem-descr
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.
                    | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

            .action__elem
                .action__elem-img
                    img(src="img/action-img.png")

                .action__elem-descr
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.
                    | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.