section.agency
    .container
        .agency__double-elem

        h3.agency__title
            | We Are An Awesome Agency

        .agency__box
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
                .agency__elem.opacity.main-animate
                    .agency__elem-img
                        img(src="img/agency-elem1.png")

                    .agency__elem-title
                        | Feature one

                    .agency__elem-descr
                        | Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus
                        | vel augue laoreet rutrum faucibus dolor

            .col-lg-3.col-md-3.col-sm-6.col-xs-12
                .agency__elem.opacity.main-animate
                    .agency__elem-img
                        img(src="img/agency-elem1.png")

                    .agency__elem-title
                        | Feature two

                    .agency__elem-descr
                        | Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus
                        | vel augue laoreet rutrum faucibus dolor

            .col-lg-3.col-md-3.col-sm-6.col-xs-12
                .agency__elem.opacity.main-animate
                    .agency__elem-img
                        img(src="img/agency-elem2.png")

                    .agency__elem-title
                        | Feature three

                    .agency__elem-descr
                        | Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus
                        | vel augue laoreet rutrum faucibus dolor

            .col-lg-3.col-md-3.col-sm-6.col-xs-12
                .agency__elem.opacity.main-animate
                    .agency__elem-img
                        img(src="img/agency-elem3.png")

                    .agency__elem-title
                        | Feature four

                    .agency__elem-descr
                        | Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus
                        | vel augue laoreet rutrum faucibus dolor
