section.baner
    .container
        h1.baner__title.opacity.right-animate
            | Creatives

        h3.baner__sub-title.opacity.left-animate
            | Power by PSDfreebies.com

        .baner__scroll
            p.baner__scroll-descr
                | Scroll Down

            span.baner__scroll-elem
