section.banner
    .container
        h1.banner__title.opacity.right-animate
            | Creatives

        h3.banner__sub-title.opacity.left-animate
            | Power by PSDfreebies.com

        .banner__scroll
            p.banner__scroll-descr
                | Scroll Down

            a(href="#agency").banner__scroll-elem#scroll-down

        a(href="#").banner__scroll-up.display#scroll-up