section.blog
    .container
        .blog__elem-b

        h3.blog__title
            | Let's blog

        p.blog__descr
            | We love clean design and advanced digital solutions.

        .blog__box
            .col-lg-3.col-md-3.col-sm-6.col-xs-12.padding.adaptive
                .blog__elem
                    .blog__elem-img
                        img(src="img/blog-img1.png")

                    .blog__elem-title
                        | Fresh Summer Campaign

                    .blog__elem-descr
                        | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.
                        | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

            .col-lg-3.col-md-3.col-sm-6.col-xs-12.padding.adaptive
                .blog__elem
                    .blog__elem-img
                        img(src="img/blog-img2.png")

                    .blog__elem-title
                        | Fresh Summer Campaign

                    .blog__elem-descr
                        | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.
                        | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

            .col-lg-3.col-md-3.col-sm-6.col-xs-12.padding.adaptive
                .blog__elem
                    .blog__elem-img
                        img(src="img/blog-img3.png")

                    .blog__elem-title
                        | Fresh Summer Campaign

                    .blog__elem-descr
                        | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.
                        | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

            .col-lg-3.col-md-3.col-sm-6.col-xs-12.padding.adaptive
                .blog__elem
                    .blog__elem-img
                        img(src="img/blog-img1.png")

                    .blog__elem-title
                        | Fresh Summer Campaign

                    .blog__elem-descr
                        | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.
                        | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.