section.callback
    .container
        .callback__elem-c

        h3.callback__title
            | We’d love to hear about your project.

        form.callback__main-form
            .callback__box
                input(type="text" placeholder="Name").callback__input
                input(type="email" placeholder="Email").callback__input
                input(type="phone" placeholder="Phone").callback__input
            textarea(placeholder="Message" ).callback__textarea

            .callback__btn-box
                button(type="submit").callback__submit
                    | Submit