footer.footer
    .container
        .footer__box
            p.footer__copyrigth
                | © 2016 PSDfreebies.com – All Right Reserved

            p.footer__design
                | Design by:
                img(src="img/psd.png").footer__img
                | PSDFreebies.com