header.header
    .container
        .header__wrapper
            .header__logo
                img(src="img/logo.png")

            a(href="#").header__trigger#header-trigger
                span
                span
                span

            nav.header__navigation
                ul.header__menu
                    li
                        a(href="#").active Home

                    li
                        a(href="#") Pages

                    li
                        a(href="#") Features

                    li
                        a(href="#") Extensions

                    li
                        a(href="#") Tutorials

                    li
                        a(href="#") Contact us

                    li
                        .header__socials-elem
                              img(src="img/fb.png")

                    li
                        .header__socials-elem
                            img(src="img/twit.png")

                    li
                        .header__socials-elem
                              img(src="img/skype.png")

                    li
                        .header__socials-elem
                            img(src="img/in.png")