section.map
    iframe(src="https://yandex.ua/map-widget/v1/?um=constructor%3A6ca497ef5a1896bd8f06cabfe67704bb9d633cc0fb234a314859d307a24e58d4&amp;source=constructor" width="100%" height="335" frameborder="0")