section.team
    .container
        .team__elem-t

        h3.team__title
            | Our team

        p.team__descr
            | sales long tail influencer pitch release niche market.

        .team__box
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
                .team__elem
                    .team__elem-img
                        img(src="img/team1.png")

                    .team__elem-wrap
                        h3.team__elem-wrap--title
                            | JOHN SNOW

                        p.team__elem-wrap--post
                            | CEO

            .col-lg-3.col-md-3.col-sm-6.col-xs-12
                .team__elem
                    .team__elem-img
                        img(src="img/team2.png")

                    .team__elem-wrap
                        h3.team__elem-wrap--title
                            | JOHN SNOW

                        p.team__elem-wrap--post
                            | CEO

            .col-lg-3.col-md-3.col-sm-6.col-xs-12
                .team__elem
                    .team__elem-img
                        img(src="img/team3.png")

                    .team__elem-wrap
                        h3.team__elem-wrap--title
                            | JOHN SNOW

                        p.team__elem-wrap--post
                            | CEO

            .col-lg-3.col-md-3.col-sm-6.col-xs-12
                .team__elem
                    .team__elem-img
                        img(src="img/team4.png")

                    .team__elem-wrap
                        h3.team__elem-wrap--title
                            | JOHN SNOW

                        p.team__elem-wrap--post
                            | CEO



