section.tech
    .container
        .tech__box
            .tech__descr-block
                .tech__title
                    | Akita Inu Dog

                .tech__descr
                    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.
                    | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

                .tech__elem-blue.tech__elem-blue--first-width
                    | Fully Responsive Design

                .tech__elem-blue.tech__elem-blue--second-width
                    | High Quality Code

                .tech__elem-blue
                    | Different Headers & Layout

            .tech__img-block
                .tech__img
                    img(src="img/tech-phone.png")
