doctype html
html
    head(lang='en')
        include ../elements/html_open

    body
        include ../mixins/mixins
        include ../elements/header
        include ../elements/banner
        include ../elements/agency
        include ../elements/about
        include ../elements/blog
        include ../elements/action
        include ../elements/tech
        include ../elements/team
        include ../elements/callback
        include ../elements/map
        include ../elements/footer
        include ../elements/html_close